################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreWebAppBackend/.vs
/AspNetCoreWebAppBackend/AspNetCoreWebAppBackend/obj
/AspNetCoreWebAppBackend/AspNetCoreWebAppBackend/bin/Debug/netcoreapp2.2
